---
layout: default
title: Featured Projects
---

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<div class="color-bg-tertiary-light">
  <div class="container-lg px-3 page-section">
    <h1 class="h2"></h1>
    <h2 class="h1 text-center" style="text-transform: uppercase; font-family: 'Gentium Book Basic', serif;">Projects</h2> 
    <div class="d-flex flex-wrap gutter flex-auto">
      {% assign projects = collections.projects | sort: "updated" | reverse%}
      {% for project in projects %}
        {% include "project" project: project.data %}
      {% endfor %}



  </div>
</div>
